@use "~/styles/global/" as *;

.historyItem {
  position: relative;
  padding-top: 80px;
  padding-bottom: 48px;
  @include mq("pc") {
    display: flex;
    gap: 0 80px;
    align-items: center;
    padding: 48px 0;
  }
}

.historyItem_head {
  position: relative;
  width: 240px;
  margin: 0 auto;
  @include mq("pc") {
    padding-left: 40px;
  }
}

.historyItem_body {
  position: relative;
  @include mq("pc") {
    flex: 1;
  }
  .historyItem_head + & {
    padding-top: 32px;
    @include mq("pc") {
      padding-top: 0;
    }
  }
}

.historyItem_year {
  position: absolute;
  top: -44px;
  left: 0;
  width: 100%;
  @include noto-serif;
  font-weight: 500;
  text-align: center;
  @include mq("pc") {
    top: -29px;
  }
}

.historyItem_year-value {
  font-size: rem(64);
  line-height: 1.13;
  letter-spacing: -0.04em;
  color: var(--color-green);
  @include mq("pc") {
  }
}

.historyItem_year-unit {
  display: inline-block;
  font-size: rem(24);
  line-height: 3.75;
  letter-spacing: normal;
  color: var(--color-black);
  @include mq("pc") {
  }
  .historyItem_year-value + & {
    margin-left: 4px;
  }
}

.historyItem_pic {
  display: block;
  width: 240px;
  margin: 0 auto;
  @include mq("pc") {
  }
}

.historyItem_heading {
  @include noto-sans;
  font-size: rem(19);
  font-weight: bold;
  line-height: 1.74;
  letter-spacing: 0.08em;
  color: var(--color-black);
  @include mq("pc") {
  }
  .historyItem_pic + & {
    margin-top: 32px;
  }
}

.historyItem_text {
  @include noto-sans;
  font-size: rem(17);
  font-weight: normal;
  line-height: 1.94;
  letter-spacing: normal;
  color: var(--color-black);
  @include mq("pc") {
  }
  .historyItem_heading + & {
    margin-top: 16px;
  }
  .historyItem_pic + & {
    margin-top: 32px;
  }
}