@use "~/styles/global/" as *;

.productsHead {
  position: relative;
  padding-top: 120px;
  @include mq("pc") {
    padding-top: 194px;
  }
}

.productsHead_inner {
  padding-right: 10px;
  padding-left: 10px;
  @include mq("pc") {
    @include inner-pc(1408);
    margin: 0 auto;
  }
}

.productsHead_heading {

}

.productsHead_pic {
  display: block;
  overflow: hidden;
  height: 560px;
  border-radius: 16px;
  @include mq("pc") {
    height: auto;
  }
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq("pc") {
      width: 100%;
      height: auto;
    }
  }
  .productsHead_heading + & {
    margin-top: 80px;
    @include mq("pc") {
      margin-top: 160px;
    }
  }
}