@use "~/styles/global/" as *;

.history {
  position: relative;
  padding-top: 80px;
  padding-bottom: 32px;
  background: url('/cellulose/images/bg.png') repeat 0 0;
  background-size: 400px 400px;
  @include mq("pc") {
    padding-top: 160px;
    padding-bottom: 108px;
  }
}

.history_inner {
  @include inner-sp;
  @include mq("pc") {
    @include inner-pc(1168);
    margin: 0 auto;
  }
}

.history_heading {
  opacity: 0;
  @include slideIn;
}

.history_text {
  @include mq("pc") {
  }
  .history_heading + & {
    @include mq("pc") {
      margin-top: 80px;
    }
  }
}

.history_items {
  @include mq("pc") {
    padding-top: 32px;
  }
  .history_text + & {
    @include mq("pc") {
      margin-top: 55px;
    }
  }
}

.history_item {
  opacity: 0;
  @include slideIn;
  & + & {
    border-top: 1px solid #98c3c1;
  }
}