---
const { id } = Astro.props
import Layout from '~/layouts/Layout.astro'
// import { metaData } from '~/constants/metaData'
---

<Layout id="about">
  <main class="main _about">
  </main>
</Layout>
