---
const { id } = Astro.props
import Layout from '~/layouts/Layout.astro'
import { ProductsHead } from "~/components/modules/ProductsHead";
import { ProductsContents } from "~/components/modules/ProductsContents";
import { Menu } from "~/components/parts/Menu";
import { LearnMoreDataList } from '~/constants/LearnMoreDataList'
import { LearnMore } from "~/components/modules/LearnMore";
---

<Layout id="products">
  <main class="main _products">
    <Menu classNames="main_menu _page" isProducts={true} data-menu="fixed" />
    <section>
      <ProductsHead />
      <ProductsContents />
    </section>
    <LearnMore type="products" data={LearnMoreDataList} />
  </main>
</Layout>
