@use "~/styles/global/" as *;

.productsContents {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  @include mq("pc") {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.productsContents_head {

}

.productsContents_text {
  opacity: 0;
  @include slideIn;
}

.productsContents_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 32px 40px;
  margin: 0 auto;
  padding: 0 47px;
  @include mq("pc") {
    display: flex;
    gap: 0 56px;
    padding: 0;
  }
  .productsContents_text + & {
    margin-top: 84px;
    @include mq("pc") {
      margin-top: 88px;
    }
  }
}

.productsContents_list-item {
  opacity: 0;
  @include slideIn;
  @include mq("pc") {
    width: 128px;
  }
  > img {

  }
  > span {
    display: block;
    margin-top: 12px;
    text-align: center;
    font-size: rem(15);
    font-weight: 500;
    line-height: 1.53;
    text-align: center;
    color: var(--color-black);
  }
}

.productsContents_body {
  @include inner-sp;;
  @include mq("pc") {
    @include inner-pc(1168);
    margin: 0 auto;
  }
  .productsContents_head + & {
    margin-top: 100px;
    @include mq("pc") {
      margin-top: 140px;
    }
  }
}