      <meta charset="utf-8">
      <title>バイオマスバリューチェーン構想│株式会社ダイセル</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="format-detection" content="telephone=no">
      <meta name="description" content="バイオマスバリューチェーン構想とは、森林保全・森林循環をはじめとする課題を循環型社会・資源循環の観点からの解決を目指すプロジェクト。">
      <meta name="keywords" content="循環型社会,資源循環,森林保全,森林循環,天然由来プラスチック,木質由来プラスチック,バイオマス,セルロース,バイオマスバリューチェーン">
      <link rel="stylesheet" href="./assets/styles/main.min.css">
      <link rel="stylesheet" href="./assets/styles/home.min.css">
      <!-- Google Tag Manager-->
      <script is:inline>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PQSD454');
      </script>
      <!-- End Google Tag Manager-->
      <meta property="og:type" content="website">
      <meta property="og:title" content="バイオマスバリューチェーン構想│株式会社ダイセル">
      <meta property="og:description" content="バイオマスバリューチェーン構想とは、森林保全・森林循環をはじめとする課題を循環型社会・資源循環の観点からの解決を目指すプロジェクト。">
      <meta property="og:url" content="https://www.daicel.com/bvc/">
      <meta property="og:image" content="https://www.daicel.com/bvc/assets/img/common/ogp.png">
      <meta property="og:site_name" content="バイオマスバリューチェーン構想│株式会社ダイセル">
      <meta property="og:locale" content="ja_JP">
      <meta name="google-site-verification" content="X6qxvrd-njryOQSyvNZVPsGIRMRjK0-w8SzUfIbVP_o">
      <link rel="shortcut icon" href="/common_img/symbol/favicon.ico">
      <link rel="apple-touch-icon-precomposed" href="/common_img/symbol/apple-touch-icon.png">